<h1> Rock Paper Scissors</h1>
<br><br>
<p>Player one's name is: <strong>$userOne</strong>.<br>
Player one's move is <strong>$userOneRadio</strong>.</p>
<br><br>
<p>Player two's name is : <strong>$userTwo</strong>.<br>Player two's move is <strong>$userTwoRadio</strong>.</p>

<h2>$gameResultsFinal</h2>

<p><a href="/">want to play again?</a></p>
